// =======================================================================
// Home page related styles
// =======================================================================

@import "home/media";





a{
	text-decoration: none;
}

li {
	list-style-type: none;	
}

body{
	width: 100%;
	margin: 0;
}
.active{
	font: 17px/24px 'Lato-Bold' !important;
}


 .banner{
	display: flex;
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	justify-content: center;
	position: relative;
	top: 0;
	align-items: center;

	

	&:after{
     	content: '';
     	position: absolute;
     	width: 100%;
     	height: 100vh;
     	top: 0;
     	right: 0;
     	bottom: 0;
     	left: 0;
     	background-image: linear-gradient(to right, rgba(0, 157, 218, .9), rgba(80, 51, 146, .9));
	}
	&__wrapper{
		width: 100%;
		height: 100vh;
		position: absolute;
		margin: 0;
		padding: 0;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		&--slider{
			position: absolute;
			min-width: 100vh;
			min-height: 100vh;
			margin: 0;
			padding: 0;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: url('../img/slider-bg.jpg') no-repeat;
			background-size: cover;
			background-position: center;

		}

	}



	&__content{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		position: absolute;
		z-index: 100;



		&--title{
			font: 64px 'Lato-Bold';
			color: $yellow;
			margin: 0 0 20px 0;

			.banner_color{
				color: #fff;
			}
		}

		&--text{
			width: 720px;
			text-align: center;
			letter-spacing: 1.4px;
			margin: 0;

			font: 16px/30px 'Lato-Regular';
			color: #fff;
		}
	}
} 


.choose-us{
	display: flex;
	width: 100%;
	min-height: 690px;
	padding: 100px 230px;
	box-sizing: border-box;
	justify-content: space-between;
	flex-direction: column;

	&__top{
		display: flex;
		flex-direction: column;
		align-items: center;

		&--title{
		font: 35px/24px 'Lato-Bold';
		color: $blue;
		margin-bottom: 20px;

			.choose_color{
				color: $darkgray;
			}
		}
		&--text{
		width: 660px;
		font: 14px/24px 'Lato-Regular';
		color: $gray;
		text-align: center;
		}

	}


	&__content{
		display: flex;
		justify-content: space-between;

		&--item{
			width: 200px;
			min-height: 270px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			border: 1px solid $lightgray;
			box-sizing: border-box;
			position: relative;
			text-align: center;
			padding: 30px 25px;

				.choose-img-1{
					background: url('../img/img-1.png') no-repeat;
					background-position: center;
				}
				.choose-img-2{
					background: url('../img/img-2.png') no-repeat;
					background-position: center;
				}
				.choose-img-3{
					background: url('../img/img-3.png') no-repeat;
					background-position: center;
				}
				.choose-img-4{
					background: url('../img/img-4.png') no-repeat;
					background-position: center;
				}
				.choose-img-5{
					background: url('../img/img-5.png') no-repeat;
					background-position: center;
				}


			&_img{
				width: 65px;
				height: 55px;
				display: flex;
				align-self: center;




			}

			&_title{
				font: 16px/50px 'Lato-Heavy';
				color: $darkgray;
				margin: 30px 0 0 ;
			}

			&_text{
				font: 14px/20px 'Lato-Light';
				color: #373737;
				margin: 0 ;
			}

			.choose-us__hover{
				display: none;
				justify-content: center;
				flex-wrap: wrap;
				width: 100%;
				height: 150px;
				background: $purple;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;

			

				&--title{
					font: 14px/80px 'Lato-Semibold';
					color: #fff;
					width: 100%;
					margin: 0px;
				}

				&--wrap{
					display: flex;
					width: 85px;
					padding:  0 0 35px;
					margin: 0 auto;
					justify-content: space-between;

					&_item{
						width: 35px;
						height: 35px;
						border: 1px solid #fff;
						border-radius: 50%;


						

					}

					.hover-img-1{
						background: url('../img/hover-img-1.png') no-repeat;
						background-position: center;

						&:hover{
							background: #fff url('../img/hover-img-1.1.png') no-repeat;
							background-position: center;
							border-color: $purple;

						}
					}
					.hover-img-2{
						background: url('../img/hover-img-2.2.png') no-repeat;
						background-position: center;

						&:hover{
							background: #fff  url('../img/hover-img-2.png') no-repeat;
							border-color: $purple;
							
						}
					}
				}
			}
		}

	}

}


.product{
	display: flex;
	width: 100%;
	min-height: 840px;
	background: #898989;
	flex-direction: column;


	&__top{
		display: flex;
		width: 100%;
		min-height: 120px;
		align-self: center;
		align-items: center;
		justify-content: center;
		background: #eb01a5;/* fallback */
	    background-image: -webkit-linear-gradient(left, $blue , $purple );
	    background-image: -o-linear-gradient(left, $blue , $purple );
	    background-image: linear-gradient(to right, $blue , $purple );
	
	
	
		&--title{
			font: 35px/24px 'Lato-Bold';
			color: #fff;
			padding: 20px 0;
			margin: 0;
	
			.product_color{
				color: $yellow;
			}
		}
	
		
	}


	&__container{
	display: flex;
	min-height: 720px;
	padding: 0 230px;
	background: #989898;

		&--content{
			display: flex;
			justify-content: center;
			/*align-content: center;*/
			width: 100%;
			
			flex-wrap: wrap;


			&_item{
				/*padding: 40px 0;*/
				display: flex;
				width: 33.33%;
				/*margin-bottom: 80px;*/
				justify-content: space-between;

					
				.product__container-img{
					display: flex;
					align-items: center;




					&--wrap{
						width: 150px;
						height: 150px;
						border-radius: 50%;
						background: #898;

						&_img{


						}
					}
				}
				
				.product-wrap-title{
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding-left: 20px;

					&__title{
						font: 24px/96.96px 'Lato-Heavy';
						color: $darkgray;

					}

					&__subtitle{
						font: 16px/24.21px 'Lato-Regular';
						color: $purple;

					}
					
					&__text{
						font: 14px/24.21px 'Lato-Light';
						color: #373737;


					}
				}
			}
		}
	}
}






.about{
	display: flex;
	width: 100%;
	padding: 120px 230px 0;
	justify-content: center;


	&__skills{
		width: 50%;
		display: flex;
		padding-right: 20px;
		flex-direction: column;


		
		&--title{
			font: 35px/24px 'Lato-Bold';
			color: $darkgray;
			margin-bottom: 30px;
			
			.about_color{
				color: $blue; 
			}
		}
		
		&--subtitle{
			font: 14px/24px 'Lato-Regular';
			color: $gray;
			margin-bottom: 50px;
			letter-spacing: 1px;
		}

		&--text{
			font: 14px/24px 'Lato-Regular';
			color: #373737;
			letter-spacing: 0.9px;
			margin-bottom: 30px;
		}

		.container-skills{
			display: flex;
			width: 100%;
			flex-direction: column;

			&__title{
				display: flex;
				justify-content: space-between;

				&--name{
					font: 13px/70px 'Lato-Bold';
					color: #444;

				}

				&--percent{
					font: 13px/70px 'Lato-Bold';
					color: #444;

				}

			}

			&__level{
				display: flex;
				width: 100%;
				padding: 3px;
				border: 1px solid $lightgray;

				&--line{
					height: 3px;
					width: 0;
					background-color: $blue; 
					-webkit-transition: width 2.2s ease;
    				transition: width 2.2s ease;
				}

				// .photoshop__skill{
					// width: 79%;
				// }
				// .html-css__skill{
					// width: 90%;
				// }
				// .javascript__skill{
					// width: 69%;
				// }
				// .wordpress__skill{
					// width: 92%;
				// }
			}
		}
	}

	&__bg-img{
		width: 50%;
		display: flex;
		background: url('../img/ipad-about.png') no-repeat;
		background-position: 90% 80%;
		background-size: contain;
	}
}




